<!-- Content Container Start !-->
<div class="content-container">
    
    <!-- Title Container Start !-->
    <div class="title-content-container">
        <%= image_tag "partners-icon.png", :class => "title-logo", :id => "partners-title-logo" %>
        <h1 class="title-header" id="partners-title-header">Partners.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End !-->
    
    <%= image_tag "apple-logo-black.png", :class => "partner-image", :id => "apple-partner-image" %>
    <%= image_tag "microsoft-logo.png", :class => "partner-image", :id => "microsoft-partner-image" %>
    <%= image_tag "expedia-logo.png", :class => "partner-image", :id => "expedia-partner-image" %>
    <%= image_tag "twitter-logo.png", :class => "partner-image", :id => "twitter-partner-image" %>
    <%= image_tag "facebook-logo.png", :class => "partner-image", :id => "facebook-partner-image" %>
    <%= image_tag "dropbox-logo.png", :class => "partner-image", :id => "dropbox-partner-image" %>
    <%= image_tag "airbnb-logo.png", :class => "partner-image", :id => "airbnb-partner-image" %>
    
</div>
<!-- Content Container End !-->