<div class="blog-entry-modal" id="blog-entry-modal-<%= blog_entry.id %>">
    <div class="modal-header">
        <h2 class="blog-entry-header">
            <%= blog_entry.title %>
        </h2>
        <label class="blog-entry-subtitle-label">
            Posted by
            <% if logged_in? and current_user === blog_entry.user %>
            You
            <% else %>
            <%= blog_entry.user.name %>
            <% end %>
            <%= time_ago_in_words(blog_entry.created_at) %> ago.
        </label>
        <% if logged_in? and (current_user === blog_entry.user || current_user.id === 3) %>
        <div class="action-bar">
            <ul class="action-bar-list">
                <li>
                    <%= link_to 'delete', blog_entry, method: :delete, class:"blog-entry-button" %>
                </li>
            </ul>
        </div>
        <% end %>
    </div>
    <div class="modal-content" id="blog-entry-modal-content">
        <%= simple_format(blog_entry.text, class: "blog-entry-content-paragraph") %>
    </div>
</div>