<!-- Content Container Start !-->
<div class="content-container">
    
    <!-- Title Container Start !-->
    <div class="title-content-container">
        <h1 class="title-header" id="home-title-header">Motivated Creation.<span class="title-bar-span">|</span></h1>
    </div>
    <!-- Title Container End !-->

    <!-- Collection Start !-->
    <div class="collection">
        <div class="collection-cell">
            <a class="collection-cell-link" id="clients-collection-cell-link" href="clients">
                <div class="collection-cell-header">
                    <h3 class="collection-cell-header-title">
                        Clients
                    </h3>
                </div>
                <div class="collection-cell-body">
                    <p class="collection-cell-body-paragraph">
                        We hope the next is you.
                    </p>
                </div>
                <div class="collection-cell-footer">
                    <div class="collection-cell-image-container">
                        <%= image_tag "clients-icon.png", :class => "collection-cell-image" %>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="collection-cell">
            <a class="collection-cell-link" id="partners-collection-cell-link" href="partners">
                <div class="collection-cell-header">
                    <h3 class="collection-cell-header-title">
                        Partners
                    </h3>
                </div>
                <div class="collection-cell-body">
                    <p class="collection-cell-body-paragraph">
                        Our Partners... Our Main Focus. Take a peek at who is helping us make better products, for you.
                    </p>
                </div>
                <div class="collection-cell-footer">
                    <div class="collection-cell-image-container">
                        <%= image_tag "partners-icon.png", :class => "collection-cell-image" %>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="collection-cell">
            <a class="collection-cell-link" id="portfolio-collection-cell-link" href="portfolio">
                <div class="collection-cell-header">
                    <h3 class="collection-cell-header-title">
                        Portfolio
                    </h3>
                </div>
                <div class="collection-cell-body">
                    <p class="collection-cell-body-paragraph">
                        Want to take a peak? Check out our wonderous imagination by observing the tantalizing software we've designed.
                    </p>
                </div>
                <div class="collection-cell-footer">
                    <div class="collection-cell-image-container">
                        <%= image_tag "portfolio-icon.png", :class => "collection-cell-image" %>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="collection-cell">
            <a class="collection-cell-link" id="inquiry-collection-cell-link" href="inquiry">
                <div class="collection-cell-header">
                    <h3 class="collection-cell-header-title">
                        Inquiry
                    </h3>
                </div>
                <div class="collection-cell-body">
                    <p class="collection-cell-body-paragraph">
                        Need a helping hand? We have you covered! Send an inquiry to see the imagination that you seek.
                    </p>
                </div>
                <div class="collection-cell-footer">
                    <div class="collection-cell-image-container">
                        <%= image_tag "inquiry-icon.png", :class => "collection-cell-image" %>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="collection-cell">
            <a class="collection-cell-link" id="reviews-collection-cell-link" href="reviews">
                <div class="collection-cell-header">
                    <h3 class="collection-cell-header-title">
                        Reviews
                    </h3>
                </div>
                <div class="collection-cell-body">
                    <p class="collection-cell-body-paragraph">
                        The good and the bad. But, mostly great.
                    </p>
                </div>
                <div class="collection-cell-footer">
                    <div class="collection-cell-image-container">
                        <%= image_tag "reviews-icon.png", :class => "collection-cell-image" %>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="collection-cell">
            <a class="collection-cell-link" id="shop-collection-cell-link" href="shop">
                <div class="collection-cell-header">
                    <h3 class="collection-cell-header-title">
                        Shop
                    </h3>
                </div>
                <div class="collection-cell-body">
                    <p class="collection-cell-body-paragraph">
                        
                    </p>
                </div>
                <div class="collection-cell-footer">
                    <div class="collection-cell-image-container">
                        <%= image_tag "shop-icon.png", :class => "collection-cell-image" %>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Collection End !-->
</div>
<!-- Content Container End !-->
