<div class="modal" id="authentication-popover">
    <div class="modal-header">
        <label class="modal-title">Login</label>
        <button class="modal-button-close" onclick="toggleAuthenticationPopover()">&times;</button>
    </div>
    <%= form_tag(authenticate_path, remote: true) do %>
    <div class="modal-content">
        <%= text_field_tag 'email', nil, class: 'email-input-text', placeholder: 'email' %>
        <%= password_field_tag 'password', nil, class: 'password-input', placeholder: 'password' %>
    </div>
    <div class="modal-footer">
        <%= submit_tag 'Login', name: 'login', class: 'login-button' %>
        <%= submit_tag 'Sign up', name: 'signup', class: 'authentication-accessory-button' %>
        <%= submit_tag 'Forgot Password?', name: 'forgot_password', class: 'authentication-accessory-button' %>
    </div>
    <% end %>
</div>