<div class="modal" id="signup-modal">
    <div class="modal-header">
        <label>Sign up</label>
        <button class="modal-button-close" id="signup-modal-button-close">&times;</button>
    </div>
    <%= form_for(@user, remote: true) do |form| %>
    <div class="modal-content">
        <%= form.text_field :name, id: 'name-input-text', placeholder: 'name' %>
        <%= form.text_field :email, id: 'email-input-text', placeholder: 'email' %>
        <%= form.password_field :password, id: 'password-input', placeholder: 'password' %>
        <%= form.password_field :password_confirmation, id: 'password-confirmation-input', placeholder: 'confirm password' %>
    </div>
    <div class="modal-footer">
        <%= submit_tag 'Sign up', name: 'signup', class: 'signup-button' %>
    </div>
    <% end %>
</div>