<% provide(:title, @page_name) %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= fullTitle(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0">
  </head>
  <body>
    <!-- Navigationbar Menu Start -->
    <%= render partial: './layouts/navbar-menu' %>
    <!-- Navigationbar Menu End -->
      
    <!-- Container Start -->
    <div class="container">
      
      <!-- Page Content Start -->
      <%= yield %>
      <!-- Page Content End -->
      
      <!-- Popover Start -->
      <%= render partial: './layouts/authentication-popover' %>
      <!-- Popover End -->
      
      <!-- Navigationbar Start -->
      <%= render partial: './layouts/navbar' %>
      <!-- Navigationbar End -->
      
      <!-- Footer Start -->
      <%= render partial: './layouts/footer' %>
      <!-- Footer End -->
      
      <!-- Overlay Start -->
      <div class="overlay"></div>
      <!-- Overlay End -->
      
    </div>
    <!-- Container End -->
  </body>
</html>
