<% provide(:title, @page_name) %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= fullTitle(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Navigationbar Menu Start -->
      <div class="navbar-menu">
        <ul class="navbar-menu-list">
          <li class="navbar-menu-item" id="home-navbar-menu-item">
            <a id="home-navbar-menu-item-link" href="home">Motivated Creation</a>
          </li>
          <% if @logged_in %>
            <li class="navbar-menu-item" id="account-navbar-menu-item">
              <a id="account-navbar-menu-item-link" href="account">
                <%= image_tag "account-icon.png", :class => "navbar-menu-item-image" %>
                Account
              </a>
            </li>
          <% end %>
          <li class="navbar-menu-item">
            <a id="clients-navbar-menu-item-link" href="clients">
              <%= image_tag "clients-icon.png", :class => "navbar-menu-item-image" %>
              Clients
            </a>
          </li>
          <li class="navbar-menu-item">
            <a id="partners-navbar-menu-item-link" href="partners">
              <%= image_tag "partners-icon.png", :class => "navbar-menu-item-image" %>
              Partners
            </a>
          </li>
          <li class="navbar-menu-item">
            <a id="portfolio-navbar-menu-item-link" href="portfolio">
              <%= image_tag "portfolio-icon.png", :class => "navbar-menu-item-image" %>
              Portfolio
            </a>
          </li>
          <li class="navbar-menu-item">
            <a id="inquiry-navbar-menu-item-link" href="inquiry">
              <%= image_tag "inquiry-icon.png", :class => "navbar-menu-item-image" %>
              Inquiry
            </a>
          </li>
          <li class="navbar-menu-item">
            <a id="reviews-navbar-menu-item-link" href="reviews">
              <%= image_tag "reviews-icon.png", :class => "navbar-menu-item-image" %>
              Reviews
            </a>
          </li>
          <li class="navbar-menu-item">
            <a id="shop-navbar-menu-item-link" href="shop">
              <%= image_tag "shop-icon.png", :class => "navbar-menu-item-image" %>
              Shop
            </a>
          </li>
      </ul>
    </div>
    <!-- Navigationbar Menu End !-->
      
    <!-- Container Start !-->
    <div class="container">
      
      <!-- Page Content Start !-->
      <%= yield %>
      <!-- Page Content End !-->
      
      <!-- Navigationbar Start -->
      <navbar class="navbar">
        <ul class="navbar-list">
          <% if not @logged_in %>
            <li class="navbar-list-item" id="authentication-navbar-list-item">
              <%= image_tag "account-icon.png", :class => "navbar-list-item-image" %>
              <input class="email-input-text" type="text" placeholder="email"> </input>
              <input class="password-input" type="password" placeholder="password"> </input>
            </li>
          <% else %>
            <li class="navbar-list-item" id="account-navbar-list-item">
              <a href="account"> Welcome, User.</a>
            </li>
          <% end %>
          <li class="navbar-list-item" id="menu-navbar-list-item">
            <a id="menu-navbar-list-item-link" href="javascript:void(0);" onclick="toggleNavbarMenu()">&#9776;</a>
          </li>
        </ul>
      </navbar>
      <!-- Navigationbar End !-->
      
      <!-- Footer Start -->
      <ul class="footer">
        <li class="footer-item">
          <a href="contact">Contact</a>
        </li>
        <li class="footer-item">
          Copyright © 2017 Motivated Creation, LLC. All rights reserved.
        </li>
      </ul>
      <!-- Footer End !-->
        
    </div>
    <!-- Container End !-->
  </body>
</html>
